<mat-accordion class="example-headers-align">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> </mat-panel-title>
      <mat-panel-description>
        Authors
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-author-grid></app-author-grid>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> </mat-panel-title>
      <mat-panel-description>
        Publishers
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-publisher></app-publisher>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> </mat-panel-title>
      <mat-panel-description>
        Jobs
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-job></app-job>
  </mat-expansion-panel>
</mat-accordion>
